  <div class="container">
    <div id="header">  
      <img src="http://verylongroad.com/media/i/refinery_silhouette_upsidedown_v1.png" style="max-width:100%">
      <h1>The Airline is a Very Long Road</h1>
      <hr id="break">
      <p>Videos, photographs, web applications, and ephemeral research on the development of Louisiana, as well as the cyclical economic collapse, social strife, and environmental decay that often result. Additional localities included when relevant.</p>
    </div>
    <br>
    <div>
      <div class="col-md-3" ng-repeat="collection in collections">
        <h4>{{collection.alias}}</h4> 
        <div ng-repeat="resource in collection.resources">
          <a href="{{resource.url}}" target="_blank">
            <span class="thumbnail" id="collection-entry">
              <u>{{resource.alias}}</u> - {{resource.description}}
            </span>
          </a>
        </div>
      </div> 
    </div>
  </div>